body{
	background-color: Black;
	color: white !important;
	font-family: Verdana;
}
body p{
	color: green;
}
h1{
	font-family: Arial;
}
p{
	color: blue;
}
a{
	color: white;
}

div{
	margin-top: 10px;
	margin-left: 20px;
}

body{
	color: red;
}
