h1 {

    font-family: Arial;
    color: blue;

   }

h2 {

   font-family: Verdana;
   color: green;

  }

h3 {

    font-family: Arial;
    color: gray;

 }

p {

font-family: Verdana;
color:  #1733ba;

}
